################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/ScoreBoard/.vs/ScoreBoard/FileContentIndex/5a58ee98-4a4f-4cda-84c8-4344c0b5172b.vsidx
/ScoreBoardTests/obj/Debug/net6.0/ScoreBoardTests.assets.cache
/ScoreBoardTests/obj/ScoreBoardTests.csproj.nuget.g.props
/ScoreBoardTests/obj/ScoreBoardTests.csproj.nuget.dgspec.json
/ScoreBoardTests/obj/project.nuget.cache
/ScoreBoardTests/obj/project.assets.json
/ScoreBoardTests/obj/ScoreBoardTests.csproj.nuget.g.targets
/ScoreBoardTests/obj/Debug/net6.0/ScoreBoardTests.csproj.AssemblyReference.cache
/ScoreBoard/.vs/ScoreBoard/FileContentIndex/c21dc0a9-79c4-4ef7-a546-d65a45a26a33.vsidx
*.v2
*.bin
/ScoreBoard/.vs/ScoreBoard/v17/.suo
/ScoreBoard/ScoreBoard.sln
*.BuildWithSkipAnalyzers
*.manifest
/ScoreBoard/.vs/ScoreBoard/v17/TestStore/0
/ScoreBoard/bin/Debug/net6.0
/ScoreBoard/obj/Debug/net6.0
/ScoreBoardTests/bin/Debug/net6.0/cs
/ScoreBoardTests/bin/Debug/net6.0
/ScoreBoardTests/obj/Debug/net6.0
